body{
    background-color: rgb(166, 173, 180);
    margin: 0;
    padding: 0;
}
.header{
    margin: 0px auto;
    text-align: center;
  
    color: rgb(9, 9, 56);
    font-size: 22px;
    padding: 0px;
}
.header h2{
    text-shadow:2px 1px white;
}
.header:hover{
    color: rgb(160, 4, 4);
}
span{
    font-size: 25px;
}
.form{
    margin: 0px auto;
    width: 35%;
    font-weight: bold;
    font-family:'Lucida Sans';
    font-size: 15px; 
    background-color:rgb(213, 213, 219);
    padding: 1%;
    border-radius: 5px;
}
.parent{
 
    margin: 15px 30px;
}
.parent input{
    width: 96%;
    padding: 1.5%;
    border: 1px solid grey;
    border-radius: 3px;
}
[name="gender"]{
    width: 100%;
    padding: 1.5%;
    border: 1px solid grey;
    border-radius: 3px;
}
.bir{
    border: 1px solid blue;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 3px;
}
#day,#year{
    width: 15%;
}
#sign{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(44, 139, 218);
    color: white;
    border-radius: 5px;
}
#sign:hover{
    background-color: midnightblue;
}